SharedData/recordings
SharedData/samples
SharedData/masks
SharedData/continuous


SharedData2013/*
HandArtwork-2015-01/*
SharedCode-2015-01/*

.svn
.hg
.cvs

# osx
*.app
*.mode1v3
*.pbxuser
.DS_Store
build/
xcuserdata/
DerivedData/
project.xcworkspace

# vs2010
ipch/
obj/
*.sdf
